/*!
*
* Inspired by Carlos Alvarez's BLOCKS theme!
* Find him here: http://Alvarez.is
*
*/


/**********BASE**********/   
body {
    background-image: linear-gradient(45deg, #4F364C, #000);

    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-family: 'Raleway', sans-serif;}

h3,h4 , h5 {
    font-family: 'Open Sans', sans-serif;
    font-weight:lighter;
}

h2{
    font-size:22px;
}

h3 {
    font-size:46px;
    color:#b2c831
}

h5 {
    color:#b2c831;
    margin-left:5px;
}

/***********BLOCKS & WRAPS***********/

#bloc1, #bloc2
{
    display:inline;
}
#map
{
    margin: 0 0 20px;
}
/*--- Dash Unit---*/
.dash-unit {
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background-color: rgba(88, 24, 69, 0.3);
    color:white;
    height:290px;
}

.dash-unit:hover {
    background-color: rgba(144, 12, 63, 0.3);
}

.dash-unit dtitle {
    font-size:11px;
    text-transform:uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit	
}

.dash-unit hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.dash-unit h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit h3 {
    font-weight:300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #b2c831;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit p {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: inherit;
    margin: 0 0 10px;
    padding:5px;
}

.dash-unit h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}

.dash-unit bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}


/**********Half-Unit**********/   
.half-unit {		
    margin-bottom: 30px;
    padding-bottom: 4px;
    border: 1px solid #383737;
    background-color:  rgba(88, 24, 69, 0.3);
    color:white;
    height:130px;
}

.half-unit:hover {
    background-color: rgba(144, 12, 63, 0.3);
}

.half-unit dtitle {
    font-size:10px;
    text-transform:uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit	
}

.half-unit hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.half-unit h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 20px;
    line-height: 1;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.half-unit h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}


.half-unit bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}


/*--- Dash Unit ---*/
.dash-unit-long {		
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background-color: rgba(88, 24, 69, 0.3);
    color:white;
    height:500px;
}

.dash-unit-long:hover {
    background-color: rgba(144, 12, 63, 0.3);
}

.dash-unit-long dtitle {
    font-size:11px;
    text-transform:uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit	
}

.dash-unit-long hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.dash-unit-long h1 {
    font-family: 'Raleway', sans-serif;
    font-weight:300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit-long h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit-long h3 {
    font-weight:300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #b2c831;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit-long p {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: inherit;
    margin: 0 0 10px;
    padding:5px;
}

.dash-unit-long h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}

.dash-unit-long bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}

/**********Styling Elements**********/   

.text p {
    font-family: 'Open Sans', sans-serif;
    margin-left:8px;
    font-size:10px;
    line-height:15px;
}

.text grey {
    font-size:11px;
    color:silver
}


/***********Bootstrap Default Modifications***********/

.thumbnail {
    border:0px;
    text-align:center;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    background: none;
    text-align: center;      

}

.navbar-nav  {
    background-color:rgba(140, 139, 141,0.05);
}

/***********LineIcons Styles***********/


.info-user {
    text-align:center;
    font-size: 35px;
    color: #b2c831;
}

.title-icon {
    position:relative;
    font-size: 15px;
    color: #b2c831;
}

.fs1 {
    padding:5px 5px 5px 5px;
    position:relative;
}

.fs1:hover {
    position:relative;
    color: #fff;
    cursor:pointer
}

.fs2 {
    padding:5px 5px 5px 5px;
    position:relative;
    font-size:35px;
    vertical-align: text-bottom
}


/********** CUSTOMIZED BUTTON **********/
.btnnew {
    display: inline-block;
    *border-left: 0 none #707070;
    border-right: 0 none #707070;
    border-top: 0 none #707070;
    border-bottom: 0 none #707070;
    display: inline;
    padding: 4px 12px;
    margin-bottom: 0;
    *margin-left: .3em;
    font-size: 14px;
    line-height: 20px;
    color: #b2c831;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-color: #5a5a5a;
    *background-color: #5a5a5a;
    background-repeat: repeat-x;
    *-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    zoom: 1;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
    background-image: linear-gradient(to bottom, #707070, #707070);*
}

/**********Link Styling**********/   
a {
    color: #b2c831;
    text-decoration: none;
}

a:hover {
    color: #dff948;
    text-decoration: none;
}

.prof:hover{
background-image:url("http://placehold.it/350x150/ccc/fff");
}


/**********FooterWrap Section**********/   
#footerwrap {
    width: 100%;
    background: rgba(7,7,12,0.5);
    padding-top:25px;
    padding-bottom: 20px;
    border-top-style: solid;

    text-align:center

}

#footerwrap p {
    color:white;
    font-size:12px;
} 

/**********Media Styles**********/   

@media (max-width: 360px){

    /* portrait tablet */
    @media (min-width: 767px) and (max-width: 768px) {
        .info-aapl ul {
            margin-left:10px;
            float:left;
        }

        #load {
            margin-left:5px;
            margin-right:10px;
        }

        #space {
            margin-left:5px;
            margin-right:10px;
        }

    }

    /* Landscape iphone 5 and samsung galaxy */
    @media (min-width: 560px) and (max-width: 685px) {
        .info-aapl ul {
            margin-left:40%;
        }

    }