/*!
*
* Inspired by Carlos Alvarez's BLOCKS theme!
* Find him here: http://Alvarez.is
*
*/


/**********BASE**********/   
body {
    background-image: linear-gradient(45deg, #4F364C, #000);

    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Lato',Helvetica,Arial,sans-serif;
}

h3,h4 , h5 {
    font-family: 'Roboto',Helvetica,Arial,sans-serif;
    font-weight:lighter;
}

h2{
    font-size:22px;
}

h3 {
    font-size:46px;
    color:#b2c831
}

h5 {
    color:#b2c831;
    margin-left:5px;
}


.iw_title{
    color:#111;
}
.iw_content{
    color:#111;
}

#overlay {
    position:absolute;
    width:inherit;
    height:inherit;
    top:0;
    left:0;
    padding: 20px 20px 20px;
    color:#fff;
    background:#000;
    display:none;
    text-align:center;
}


/***********BLOCKS & WRAPS***********/

#bloc1, #bloc2
{
    display:inline;
}
#map
{
    margin: 0 0 20px;
}

/*--- Dash Unit---*/
.dash-unit {
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background-color: rgba(88, 24, 69, 0.3);
    color:white;
    height:290px;
}

.dash-unit:hover {
    background-color: rgba(144, 12, 63, 0.3);
}

.dash-unit dtitle {
    font-size:12px;
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit	
}

.dash-unit hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.dash-unit h1 {
    font-family: 'Josefin Slab', serif;
    font-weight:300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit h2 {
    font-family: 'Josefin Slab',Helvetica,Arial,sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit h3 {
    font-weight:300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #b2c831;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit p {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: inherit;
    margin: 0 0 10px;
    padding:5px;
}

.dash-unit h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}

.dash-unit bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}

.nested-row {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: rgba(1, 1, 1, 0.3);
}

/*****/
/* Style the Image Used to Trigger the Modal */
.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption { 
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
}

@keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
    .modal-content {
        width: 100%;
    }
}
/****/

/*--- Dash Unit Long ---*/
.dash-unit-long {		
    margin-bottom: 30px;
    padding-bottom:10px;
    border: 1px solid #383737;
    background-color: rgba(88, 24, 69, 0.3);
    color:white;
    height:420px;
}

.dash-unit-long:hover {
    background-color: rgba(144, 12, 63, 0.3);
}

.dash-unit-long dtitle {
    font-size:12px;
    font-family: 'Roboto', serif;
    text-transform: uppercase;
    color:#ffffff;
    margin:8px;
    padding:0px;
    height:inherit	
}

.dash-unit-long hr {
    border: 0;
    border-top: 1px solid #151515;
    border-top-style: dashed;
    margin-top:3px;
}

.dash-unit-long h1 {
    font-family: 'Roboto', sans-serif;
    font-weight:300;
    font-size: 20px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit-long h2 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    letter-spacing: 0px;
    color: #ffffff;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}

.dash-unit-long h3 {
    font-weight:300;
    font-size: 15px;
    line-height: 2px;
    letter-spacing: 0px;
    color: #b2c831;
    padding-top:10px;
    padding-left:5px;
    margin-top:2px;
    text-align:center;
}


.dash-unit-long p {
    font-size: 14px;
    font-weight: 200;
    line-height: 16px;
    color: inherit;
    margin: 0 0 10px;
    padding:5px;
}

.dash-unit-long h4 {
    padding-left:5px;
    margin-top:2px;
    font-size: 13px;
    font-weight:lighter;
    line-height: 1;
    letter-spacing: 0px;
    color: #fff;
}

.dash-unit-long bold{
    font-family: 'Open Sans', sans-serif;
    font-size:26px;
    font-weight:bold;
    color:#fff;
    vertical-align:middle;
}

/**********Styling Elements**********/   

.text p {
    font-family: 'Open Sans', sans-serif;
    margin-left:8px;
    font-size:10px;
    line-height:15px;
}

.text grey {
    font-size:11px;
    color:silver
}


/***********Bootstrap Default Modifications***********/

.thumbnail {
    border:0px;
    -webkit-box-shadow: 0px;
    -moz-box-shadow: 0px;
    box-shadow: 0px;
    background: none;
    text-align: center;      
    overflow: hidden; /* hide the cropped portion */
}

.thumbnail-gallery { 
    position: relative;
    width: 160px;
    height: 160px;
    overflow: hidden;
}
.thumbnail-gallery img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.thumbnail-gallery img.portrait {
    width: 100%;
    height: auto;
}

.navbar-nav  {
    background-color:rgba(140, 139, 141,0.05);
}

.navbar-inverse .navbar-brand {
    color:floralwhite;
}
/***********LineIcons Styles***********/


.info-user {
    text-align:center;
    font-size: 35px;
    color: #b2c831;
}

.title-icon {
    position:relative;
    font-size: 15px;
    color: #b2c831;
}

.fs1 {
    padding:5px 5px 5px 5px;
    position:relative;
}

.fs1:hover {
    position:relative;
    color: #fff;
    cursor:pointer
}

.fs2 {
    padding:5px 5px 5px 5px;
    position:relative;
    font-size:35px;
    vertical-align: text-bottom
}

/**********Link Styling**********/   
a {
    color: #b2c831;
    text-decoration: none;
}


a:visited { 
    color: #b2c831;
    text-decoration: none;
}

a:hover {
    color: #dff948;
    text-decoration: none;
    cursor:pointer

}


/**********FooterWrap Section**********/   
#footerwrap {
    width: 100%;
    background: rgba(7,7,12,0.5);
    padding-top:25px;
    padding-bottom: 20px;
    border-top-style: solid;

    text-align:center

}

#footerwrap p {
    color:white;
    font-size:12px;
} 

/**********Media Styles**********/   

@media (max-width: 360px){

    /* portrait tablet */
    @media (min-width: 767px) and (max-width: 768px) {
        .info-aapl ul {
            margin-left:10px;
            float:left;
        }

        #load {
            margin-left:5px;
            margin-right:10px;
        }

        #space {
            margin-left:5px;
            margin-right:10px;
        }

    }

    /* Landscape iphone 5 and samsung galaxy */
    @media (min-width: 560px) and (max-width: 685px) {
        .info-aapl ul {
            margin-left:40%;
        }

    }